USE [master]
GO
/****** Object:  Database [Social Media Project]    Script Date: 12/2/2025 12:30:12 PM ******/
CREATE DATABASE [Social Media Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Social Media Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2025\MSSQL\DATA\Social Media Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Social Media Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2025\MSSQL\DATA\Social Media Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Social Media Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Social Media Project]
GO
/****** Object:  Table [dbo].[Post]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostId] [bigint] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Post] PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserFollow]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserFollow](
	[UserFollowerId] [bigint] NOT NULL,
	[UserFollowingId] [bigint] NOT NULL,
 CONSTRAINT [PK_UserFollow_1] PRIMARY KEY CLUSTERED 
(
	[UserFollowerId] ASC,
	[UserFollowingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_UserFeed_42]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View User Feed 
CREATE VIEW [dbo].[View_UserFeed_42] AS
SELECT p.*
FROM Post AS p
WHERE p.UserId IN (
    SELECT uf.UserFollowingId
    FROM UserFollow AS uf
    WHERE uf.UserFollowerId = 42
);
GO
/****** Object:  Table [dbo].[Like]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Like](
	[LikeId] [bigint] IDENTITY(1,1) NOT NULL,
	[PostId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[LikeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[PostId] [bigint] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [bigint] IDENTITY(1,1) NOT NULL,
	[PostId] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_PostEngagement]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View Post Engagement Summary (For Verified Users)
CREATE VIEW [dbo].[View_PostEngagement] AS
WITH PostEngagement AS (
    SELECT
        p.PostId,
        u.Username,
        COUNT(DISTINCT l.LikeId) AS TotalLikes,
        COUNT(DISTINCT c.CommentId) AS TotalComments
    FROM Post AS p
    INNER JOIN [User] AS u ON p.UserId = u.UserId
    LEFT JOIN [Like] AS l ON p.PostId = l.PostId
    LEFT JOIN Comment AS c ON p.PostId = c.PostId
    GROUP BY p.PostId, u.Username
)
SELECT *
FROM PostEngagement;
GO
/****** Object:  View [dbo].[View_AverageEngagement]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- View Average Engagement per Post
CREATE VIEW [dbo].[View_AverageEngagement] AS
SELECT
    p.PostId,
    COUNT(DISTINCT l.LikeId) AS TotalLikes,
    COUNT(DISTINCT c.CommentId) AS TotalComments
FROM Post AS p
LEFT JOIN [Like] AS l ON p.PostId = l.PostId
LEFT JOIN Comment AS c ON c.PostId = p.PostId
GROUP BY p.PostId;
GO
/****** Object:  View [dbo].[View_UserFollowers_4]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--View for Followers of a User
CREATE   VIEW [dbo].[View_UserFollowers_4] AS
SELECT UserFollowerId
FROM UserFollow
WHERE UserFollowingId = 4;
GO
/****** Object:  Table [dbo].[BlockedAccount]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockedAccount](
	[BlockedAccountId] [bigint] NOT NULL,
	[BlockerAccountId] [bigint] NOT NULL,
 CONSTRAINT [PK_BlockedAccount] PRIMARY KEY CLUSTERED 
(
	[BlockedAccountId] ASC,
	[BlockerAccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DirectMessage]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DirectMessage](
	[DirectMessageId] [bigint] IDENTITY(1,1) NOT NULL,
	[SenderId] [bigint] NOT NULL,
	[RecieverId] [bigint] NOT NULL,
	[DirectMessageText] [nvarchar](500) NOT NULL,
	[Date] [datetime] NULL,
 CONSTRAINT [PK_DirectMessage] PRIMARY KEY CLUSTERED 
(
	[DirectMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hashtag]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hashtag](
	[HashtagId] [bigint] IDENTITY(1,1) NOT NULL,
	[HashtagText] [nvarchar](max) NOT NULL,
	[PostId] [bigint] NOT NULL,
 CONSTRAINT [PK_Hashtag] PRIMARY KEY CLUSTERED 
(
	[HashtagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Date] [datetime] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[LikeId] [bigint] NULL,
	[CommentId] [bigint] NULL,
	[DirectMessageId] [bigint] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Privacy]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Privacy](
	[PrivacyId] [bigint] IDENTITY(1,1) NOT NULL,
	[SettingType] [nvarchar](50) NOT NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Privacy] PRIMARY KEY CLUSTERED 
(
	[PrivacyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repost]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repost](
	[RepostId] [bigint] IDENTITY(1,1) NOT NULL,
	[PostId] [bigint] NULL,
	[UserId] [bigint] NOT NULL,
 CONSTRAINT [PK_Repost] PRIMARY KEY CLUSTERED 
(
	[RepostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaggedPost]    Script Date: 12/2/2025 12:30:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaggedPost](
	[TaggedPostId] [bigint] NOT NULL,
	[UserId] [bigint] NOT NULL,
	[PostId] [bigint] NOT NULL,
 CONSTRAINT [PK_TaggedPost] PRIMARY KEY CLUSTERED 
(
	[TaggedPostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BlockedAccount] ([BlockedAccountId], [BlockerAccountId]) VALUES (1, 11)
INSERT [dbo].[BlockedAccount] ([BlockedAccountId], [BlockerAccountId]) VALUES (2, 58)
INSERT [dbo].[BlockedAccount] ([BlockedAccountId], [BlockerAccountId]) VALUES (3, 62)
GO
SET IDENTITY_INSERT [dbo].[Comment] ON 

INSERT [dbo].[Comment] ([CommentId], [PostId], [Date], [Message], [UserId]) VALUES (201, 178, CAST(N'2025-05-05T00:00:00.000' AS DateTime), N'Aluminum Zirconium Trichlorohydrex Gly', 45)
INSERT [dbo].[Comment] ([CommentId], [PostId], [Date], [Message], [UserId]) VALUES (202, 159, CAST(N'2025-03-08T00:00:00.000' AS DateTime), N'estradiol', 44)
INSERT [dbo].[Comment] ([CommentId], [PostId], [Date], [Message], [UserId]) VALUES (203, 107, CAST(N'2025-06-08T00:00:00.000' AS DateTime), N'Caffeine', 36)
GO
SET IDENTITY_INSERT [dbo].[Comment] OFF
GO
SET IDENTITY_INSERT [dbo].[DirectMessage] ON 

INSERT [dbo].[DirectMessage] ([DirectMessageId], [SenderId], [RecieverId], [DirectMessageText], [Date]) VALUES (1, 82, 19, N'Skalith', CAST(N'2025-06-22T00:00:00.000' AS DateTime))
INSERT [dbo].[DirectMessage] ([DirectMessageId], [SenderId], [RecieverId], [DirectMessageText], [Date]) VALUES (2, 74, 54, N'Latz', CAST(N'2025-06-05T00:00:00.000' AS DateTime))
INSERT [dbo].[DirectMessage] ([DirectMessageId], [SenderId], [RecieverId], [DirectMessageText], [Date]) VALUES (3, 55, 40, N'Aimbo', CAST(N'2025-10-26T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DirectMessage] OFF
GO
SET IDENTITY_INSERT [dbo].[Hashtag] ON 

INSERT [dbo].[Hashtag] ([HashtagId], [HashtagText], [PostId]) VALUES (2, N'Food', 101)
INSERT [dbo].[Hashtag] ([HashtagId], [HashtagText], [PostId]) VALUES (3, N'Travel', 102)
INSERT [dbo].[Hashtag] ([HashtagId], [HashtagText], [PostId]) VALUES (4, N'Fitness', 103)
SET IDENTITY_INSERT [dbo].[Hashtag] OFF
GO
SET IDENTITY_INSERT [dbo].[Like] ON 

INSERT [dbo].[Like] ([LikeId], [PostId], [UserId]) VALUES (1, 103, 36)
INSERT [dbo].[Like] ([LikeId], [PostId], [UserId]) VALUES (2, 195, 55)
INSERT [dbo].[Like] ([LikeId], [PostId], [UserId]) VALUES (5, 189, 40)
GO
SET IDENTITY_INSERT [dbo].[Like] OFF
GO
SET IDENTITY_INSERT [dbo].[Notification] ON 

INSERT [dbo].[Notification] ([NotificationId], [UserId], [Date], [IsRead], [LikeId], [CommentId], [DirectMessageId]) VALUES (1, 68, CAST(N'2025-01-07T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Notification] ([NotificationId], [UserId], [Date], [IsRead], [LikeId], [CommentId], [DirectMessageId]) VALUES (2, 58, CAST(N'2025-11-14T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
INSERT [dbo].[Notification] ([NotificationId], [UserId], [Date], [IsRead], [LikeId], [CommentId], [DirectMessageId]) VALUES (3, 100, CAST(N'2025-06-17T00:00:00.000' AS DateTime), 1, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Notification] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

INSERT [dbo].[Post] ([PostId], [Date], [Location], [UserId]) VALUES (101, CAST(N'2024-12-14T00:00:00.000' AS DateTime), N'Karangwungu Lor', 65)
INSERT [dbo].[Post] ([PostId], [Date], [Location], [UserId]) VALUES (102, CAST(N'2025-02-22T00:00:00.000' AS DateTime), N'Damao', 61)
INSERT [dbo].[Post] ([PostId], [Date], [Location], [UserId]) VALUES (103, CAST(N'2025-05-24T00:00:00.000' AS DateTime), N'Kagal’nitskaya', 73)
GO
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
SET IDENTITY_INSERT [dbo].[Privacy] ON 

INSERT [dbo].[Privacy] ([PrivacyId], [SettingType], [UserId]) VALUES (1, N'Public', 1)
INSERT [dbo].[Privacy] ([PrivacyId], [SettingType], [UserId]) VALUES (2, N'Friends Only', 2)
INSERT [dbo].[Privacy] ([PrivacyId], [SettingType], [UserId]) VALUES (3, N'Private', 3)
SET IDENTITY_INSERT [dbo].[Privacy] OFF
GO
SET IDENTITY_INSERT [dbo].[Repost] ON 

INSERT [dbo].[Repost] ([RepostId], [PostId], [UserId]) VALUES (1, 159, 30)
INSERT [dbo].[Repost] ([RepostId], [PostId], [UserId]) VALUES (2, 150, 24)
INSERT [dbo].[Repost] ([RepostId], [PostId], [UserId]) VALUES (3, 179, 21)
GO
SET IDENTITY_INSERT [dbo].[Repost] OFF
GO
INSERT [dbo].[TaggedPost] ([TaggedPostId], [UserId], [PostId]) VALUES (1, 60, 46)
INSERT [dbo].[TaggedPost] ([TaggedPostId], [UserId], [PostId]) VALUES (2, 73, 9)
INSERT [dbo].[TaggedPost] ([TaggedPostId], [UserId], [PostId]) VALUES (3, 43, 11)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [PhoneNumber], [Username], [Password], [PostId]) VALUES (1, N'Federico', N'Halworth', N'727-940-2262', N'Parrot, hawk-headed', N'Deroptyus accipitrinus', 1)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [PhoneNumber], [Username], [Password], [PostId]) VALUES (2, N'Gianina', N'Galvin', N'559-966-6714', N'Vulture, white-rumped', N'Gyps bengalensis', 2)
INSERT [dbo].[User] ([UserId], [FirstName], [LastName], [PhoneNumber], [Username], [Password], [PostId]) VALUES (3, N'Randie', N'Volk', N'787-415-4855', N'Bee-eater, carmine', N'Merops nubicus', 3)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
INSERT [dbo].[UserFollow] ([UserFollowerId], [UserFollowingId]) VALUES (1, 44)
INSERT [dbo].[UserFollow] ([UserFollowerId], [UserFollowingId]) VALUES (2, 52)
INSERT [dbo].[UserFollow] ([UserFollowerId], [UserFollowingId]) VALUES (2, 61)
GO
ALTER TABLE [dbo].[BlockedAccount]  WITH CHECK ADD  CONSTRAINT [FK_BlockedAccount_User1] FOREIGN KEY([BlockedAccountId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlockedAccount] CHECK CONSTRAINT [FK_BlockedAccount_User1]
GO
ALTER TABLE [dbo].[BlockedAccount]  WITH CHECK ADD  CONSTRAINT [FK_BlockedAccount_User2] FOREIGN KEY([BlockerAccountId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[BlockedAccount] CHECK CONSTRAINT [FK_BlockedAccount_User2]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Post]
GO
ALTER TABLE [dbo].[DirectMessage]  WITH CHECK ADD  CONSTRAINT [FK_DirectMessage_User] FOREIGN KEY([SenderId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DirectMessage] CHECK CONSTRAINT [FK_DirectMessage_User]
GO
ALTER TABLE [dbo].[DirectMessage]  WITH CHECK ADD  CONSTRAINT [FK_DirectMessage_User1] FOREIGN KEY([RecieverId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[DirectMessage] CHECK CONSTRAINT [FK_DirectMessage_User1]
GO
ALTER TABLE [dbo].[Hashtag]  WITH CHECK ADD  CONSTRAINT [FK_Hashtag_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Hashtag] CHECK CONSTRAINT [FK_Hashtag_Post]
GO
ALTER TABLE [dbo].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Post1] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Like] CHECK CONSTRAINT [FK_Like_Post1]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Comment] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comment] ([CommentId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Comment]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_DirectMessage] FOREIGN KEY([DirectMessageId])
REFERENCES [dbo].[DirectMessage] ([DirectMessageId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_DirectMessage]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Like] FOREIGN KEY([LikeId])
REFERENCES [dbo].[Like] ([LikeId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Like]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD  CONSTRAINT [FK_Post_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Post] CHECK CONSTRAINT [FK_Post_User]
GO
ALTER TABLE [dbo].[Privacy]  WITH CHECK ADD  CONSTRAINT [FK_Privacy_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Privacy] CHECK CONSTRAINT [FK_Privacy_User]
GO
ALTER TABLE [dbo].[Repost]  WITH CHECK ADD  CONSTRAINT [FK_Repost_Post] FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[Repost] CHECK CONSTRAINT [FK_Repost_Post]
GO
ALTER TABLE [dbo].[TaggedPost]  WITH CHECK ADD  CONSTRAINT [FK_TaggedPost_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaggedPost] CHECK CONSTRAINT [FK_TaggedPost_User]
GO
ALTER TABLE [dbo].[UserFollow]  WITH CHECK ADD  CONSTRAINT [FK_UserFollow_User1] FOREIGN KEY([UserFollowingId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[UserFollow] CHECK CONSTRAINT [FK_UserFollow_User1]
GO
ALTER TABLE [dbo].[UserFollow]  WITH CHECK ADD  CONSTRAINT [FK_UserFollow_User2] FOREIGN KEY([UserFollowerId])
REFERENCES [dbo].[User] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserFollow] CHECK CONSTRAINT [FK_UserFollow_User2]
GO
USE [master]
GO
